<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include ../_share/stylesheets.pug
    title chat-storm
  body
    include ../_share/navbar.pug

    main(role="main" class="container")
      -var isErrorExist = (error && error.length !== 0)
      if isErrorExist
        div.alert.alert-danger.mt-5
          i(class="fas fa-exclamation-circle")
          b #{error}
          
      div.card.my-5.bg-transparent
        div.card-body
          h4.mb-4 ログイン
          form(action="/account/login", method="post")
            div.form-group.row
              div.col-sm-3
              label.col-sm-2.col-form-label(for="userId") ユーザーID :
              input.col-sm-4.form-control(type="text" name="userId" id="userId" )
            div.form-group.row
              div.col-sm-3
              label.col-sm-2.col-form-label(for="password" ) パスワード :
              input.col-sm-4.form-control(type="text" name="password" id="password" )
            input.btn.btn-success(type="submit" value="ログイン" id="loginButton" onclick="disableButton(this);")

      

    include ../_share/javascripts.pug