<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include ../_share/stylesheets.pug
    title chat-storm
  body
    include ../_share/navbar.pug

    p #{error}

    h3.my-3 アカウントの編集
    div.form-group.raw
      label(for="username").col-3 ユーザー名
      p.col-4 #{user.username}
    div.form-group.raw
      label(for="userId").col-3 ユーザーID
      p.col-4 #{user.userId}

    form(method="post" action=`/account/${user.userId}?delete=1`)
      button(type="submit" onClick="return confirmButton()").btn.btn-danger アカウントを消去する

    main(role="main" class="container")

    include ../_share/javascripts.pug