script(src="/public/javascripts/functions/buttons.js")
script(src="/public/javascripts/functions/uuid.js")
script(src="/public/javascripts/functions/escape.js")
script(src="/public/javascripts/bundle.js")