nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  div.nav
    a(href="/").navbar-brand.ml-10 chat-storm
    ul.navbar-nav.mr-auto
      li.nav-item
        a(href="/rooms").nav-link 部屋一覧
    div(class="collapse navbar-collapse" id="navbarsExampleDefault" )
    ul.navbar-nav.mr-auto
      if !user
        li.nav-item
          a(href="/account/signup").nav-link 新規登録
        li.nav-item
          a(href="/account/login").nav-link ログイン
      if user
        div.dropdown.mt-2.mr-3
          a.btn.btn-info.dropdown-toggle(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") アカウント
          div.dropdown-menu(aria-labelledby="dropdownMenuLink")
            a.dropdown-item(href=`/account/${user.userId}/rooms`) 作成した部屋一覧
            a.dropdown-item(href=`/account/${user.userId}`) アカウント設定
        form.form-inline.mt-2.mt-md-0(action="/account/logout", method="post")
          button.btn.btn-outline-success.my-2.my-sm-2(type="submit") ログアウト
      