<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    div
      include _share/navbar.pug

    main(role="main" class="container")
      h4.mt-5 入室に成功しました。
      table.my-3.table.table-bordered(class="confirm-table")
        tr
          td 部屋名
          td.td-value.td-room-name #{room.roomName}
        tr
          td ルームID
          td.td-value #{room.roomId}
        tr
          td ルームパスワード
          td.td-value #{room.roomPassword}
      div(style="display:flex; justify-content:center;")
        a(href="/" ).btn.btn-primary.mr-5 戻る
        form(action=`/rooms/room?roomId=${room.roomId}`, method="post" )
          input.btn.btn-success(type="submit", value="入室する")
        
      include _share/javascripts.pug