<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    include _share/navbar.pug

    main(role="main" class="container")
      div
        p #{successMessage}

      div.card.my-5.bg-transparent.border-primary.mb-3
        h4.card-header.border-primary ルームIDとパスワード入室する
        form(action="/confirm", method="post")
          div.card-body
            div.form-group.row
              div.col-sm-3
              label.col-sm-2.col-form-label(for="roomId") ルームID :
              input.col-sm-4.form-control(type="text" name="roomId" id="roomId" )
            div.form-group.row
              div.col-sm-3
              label.col-sm-2.col-form-label(for="roomPassword" ) ルームパスワード :
              input.col-sm-4.form-control(type="text" name="roomPassword" id="roomPassword" )
            button.btn.btn-outline-primary.my-2.my-sm-2(type="submit") 入室する

        if errors
          p #{errors.roomId}
          p #{errors.roomPassword}
          p #{errors.mistakeIdOrPass}

      div.card.my-5.bg-transparent.border-danger
        div.card-header.border-danger
          h4 部屋を新規作成する
          h5 (IDとパスワードが発行されます)
        form(action="/newroom", method="post")
          div.card-body
            div.col-sm-3
            label.mb-2.col-form-label(for="roomName") 部屋名を入力してください :
            input.form-control.offset-md-4.col-4(type="text" name="roomName" id="roomName" )
            button.btn.btn-outline-danger.my-2.my-sm-2(type="submit") 部屋を作成する

        
    include _share/javascripts.pug