<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    div
      include _share/navbar.pug

      div
        p 入室する
        form(action="/", method="post")
          input(type="text" name="roomId" placeholder="ルームID" )
          input(type="text" name="roomPassword" placeholder="パスワード")
          input(type="submit" value="入室" )
        if error
          p #{error}

      div
        p 部屋を新規作成する
        p (ルームIDとパスワードが発行されます)
        form(action="./newroom", method="post")
          input(type="text" name="roomName" id="roomName")
          br
          input(type="submit", value="新規作成")
      
      include _share/javascripts.pug