
<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    include _share/navbar.pug

    main(role="main" class="container")
      h4.mt-5 部屋を新規作成しました。
      table.my-3.table.table-bordered(class="confirm-table")
        tr
          td 部屋名
          td #{roomName}
        tr
          td ルームID
          td #{roomId}
        tr
          td ルームパスワード
          td #{roomPassword}
      form(action=`/rooms/room?new=1`, method="get")
        input(type="hidden" name="roomId" value=roomId )
        input.btn.btn-primary(type="submit" value="入室する" onclick="disableButton(this);" )
    include _share/javascripts.pug
      