div.card.mt-3
  a(href=`/rooms/room?roomId=${room.roomId}` class="card-link")
    div.card-body(class="room-list")
      h5.card-title 部屋名:#{room.roomName}
      p.card-text 作成者:#{createUser.username}